$colors: (
  "primary": #F88919,
  "light": #E5E5E5,
  "lighter": #FFFFFF,
  "dark": #14213D,
  "darker": #000000
);

@each $name, $value in $colors {
  $colors: map-merge($colors, (
    "#{$name}l": scale-color($value, $lightness: +16%),
    "#{$name}d": scale-color($value, $lightness: -16%)
  ))
}

$sizes: (
  "appbar-height": 3em,
  "nav-width": 12em,
  "playlist-width": 12em,
  "playbar-height": 6em
);

$gap: 1em;
