$colorgap: 8;

$colors: (
  "primary": #F88919,
  "light": #E5E5E5,
  "lighter": #FFFFFF,
  "dark": #14213D,
  "darker": #000000
);

@each $name, $value in $colors {
  $colors: map-merge($colors, (
    "#{$name}-ll": lighten($value, $colorgap * 2),
    "#{$name}-l": lighten($value, $colorgap),
    "#{$name}-d": darken($value, $colorgap),
    "#{$name}-dd": darken($value, $colorgap * 2)
  ))
}

$sizes: (
  "appbar-height": 3rem,
  "nav-width": 12rem,
  "playlist-width": 12rem,
  "playbar-height": 6rem
);

$gap: 1rem;

%pointer {
  cursor: pointer;
}

%no-spacing {
  margin: 0;
  padding: 0;
}
